@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}

.text-skip-ink{
    text-decoration-skip-ink: none;
}

.review-stars{
    --stars: 5;
    width: calc(19.2px * var(--stars));
}
